@* @model IEnumerable<YourProject.Models.Department> *@
	@model IEnumerable<Model.Models.Department>



<h2>Departments</h2>


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Location</th>
			<th>Employee Count</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var department in Model)
		{
			<tr>
				<td>@department.Name</td>
				<td>@Html.DisplayFor(modelItem => department.Description)</td>
				<td>@department.Location</td>
				<td>@department.EmployeeCount</td>
			</tr>
		}

		
	</tbody>
</table>


<a href="@Url.Action("Create", "Department")" class="btn btn-primary">Add New Department</a>
