@{
    Layout = "_Layout";
}

<section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
        <div class="col col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 alt="Profile Picture" class="img-fluid" style="width: 180px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">@ViewBag.Name</h5>
                            <p class="mb-2 pb-1">@ViewBag.Email</p>
                            <p class="mb-2 pb-1">@ViewBag.Phone</p>
                            <p class="mb-2 pb-1">@ViewBag.Address</p>

                            <!-- Button to go to Edit Profile Page -->
                            <a href="@Url.Action("EditProfile", "User")" class="btn btn-outline-primary mt-3">
                                Edit Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
